{# vim: set sts=2 sw=2 ts=2 et: #}
{% extends "base.html" %}
{% set active_page = "contact" %}

{% block title %}
CubeWorks :: Contact
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<div class="container">
  <h2>Contact CubeWorks</h2>
  <dl class="dl-horizontal">
    <dt>E-mail </dt><dd><a href="mailto:information@cubeworks.us">information@cubeworks.us</a></dd>
    {# The span on the next line is a hack so that mobile web browsers don't
       treat the office number as a phone number #}
     <dt>Address</dt><dd>1600 Huron Parkway, OFC 520<span>-</span>2364 <br />Ann Arbor, MI 48109</dd>
  </dl>
</div>

{% endblock %}

