{# vim: set sts=2 sw=2 ts=2 et: #}
{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
CubeWorks
{% endblock %}

{% block body %}


{#
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="/static/img/logo-header.png" alt="CubeWorks logo as a header">
      <div class="container">
        <div class="carousel-caption">
          <h1>CubeWorks. World's Smallest Computers.</h1>
          <p>Possible sub-heading text?</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
#}

{#
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="/static/img/logo-header.png" alt="CubeWorks logo as a header" />
      <div class="container">
        <div class="carousel-caption">
          <h1>CubeWorks. World's Smallest Computers.</h1>
          <p>Possible sub-heading text?</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
#}

<div class="top-box">
  <img id="logo-header" src="/static/img/logo-header.png" alt="CubeWorks logo as a header" />
  <h1>World's Smallest Computers.</h1>
</div>

<div class="index-container">
  <div class="row qube">
    <div class="col-lg-4 col-xs-4">
      <img class="img-circle center-block" src="/static/img/imager-crop.jpg" alt="Picture of Imager Cube" />
      <h2 style="text-align: center;">Imaging Cube</h2>
    </div>
    <div class="col-lg-4 col-xs-4">
      <img class="img-circle center-block" src="/static/img/temperature-crop.jpg" alt="Picture of Temperature Cube">
      <h2 style="text-align: center;">Temperature Cube</h2>
    </div>
    <div class="col-lg-4 col-xs-4">
      <img class="img-circle center-block" src="/static/img/pressure-crop.jpg" alt="Picture of Pressure Cube">
      <h2 style="text-align: center;">Pressure Cube</h2>
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="fade-out">
    <div class="row featurette sm-vertical-align invert-color" style="padding-right: 0px;"> {# Avoid padding at edge of image #}
      <div class="col-sm-7">
        <h2 class="featurette-heading">Millimeter-Scale Computing. <span class="text-muted">Real-life smart dust.</span></h2>
        <p class="lead">
        The Cubisens<font size=3><sup>TM</sup> </font> platform by CubeWorks enables the first truly autonomous
        wireless sensing platform measuring less than a millimeter. Cubisens
        systems are able to sense and process their environment, wirelessly transmit
        the results or store them for later usage.  The versaltility of the
        Cubisens platform allows multiple units to be combined together to tackle
        larger monitoring and sensing applications.
        </p>
      </div>
      <div class="col-sm-5" style="padding-right: 0px;"> {# Avoid padding edge of image #}
        <img class="featurette-image img-responsive center-block pull-right" src="/static/img/M3-nickel-square.jpg" title="Pressure Qube on US nickel" alt="A picture of an Pressure Qube on the edge of a US nickel" />
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette sm-vertical-align">
    <div class="col-sm-6 col-sm-push-6">
      <h2 class="featurette-heading">Redefining Ultra-Low Power. <span class="text-muted">Enabling perpetual computing.</span></h2>
      <p class="lead">
      CubeWorks' sensing systems average a record-setting <strong>8&nbsp;nW</strong>
      power draw in standby mode. Under indoor ambient light, our patented
      energy harvester generates 10 nW from 1&nbsp;mm<sup>2</sup> solar cell, facilitating
      perpetual lifetime of sensor operation.
      </p>
    </div>
    <div class="col-sm-1 col-sm-push-5 sm-hidden"></div>
    <div class="col-sm-5 col-sm-pull-7">
      <img class="featurette-image img-responsive center-block" src="/static/img/chip_array.png" alt="Array of CubeWorks chips and features.">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette sm-vertical-align">
    <div class="col-sm-7">
      <h2 class="featurette-heading">From the Internet of Things... <span class="text-muted">to the Internet of Everything.</span></h2>
      <p class="lead">
      The small form factor, wireless capability, and long lifetime of Cubisens
      makes it an ideal platform for realizing ubiquitous computing. The
      first-generation systems are equipped with imaging, motion detection,
      temperature sensing, and pressure sensing. CubeWorks aims to expand the
      breadth of applications and position its Cubisens technology as pivotal
      for realizing the impending Internet of Everything.
      </p>
    </div>
    <div class="col-sm-5">
      <img class="featurette-image img-responsive center-block rounded-corners" src="/static/img/pressure_stacks_teardown-scaled.jpg" alt="Array of millimeter-scale components">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <a href="/people.html"  class="btn btn-default btn-block btn-wrap btn-big">About CubeWorks</a>
    </div>
    <div class="col-lg-5">
      <a href="/contact.html" class="btn btn-default btn-block btn-wrap btn-big">Contact CubeWorks</a>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>


{% endblock %}

