{# vim: set sts=2 sw=2 ts=2 et: #}
{% extends "base.html" %}
{% set active_page = "people" %}

{% block title %}
CubeWorks :: People
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<div class="container">
  <div class="jumbotron">
    <h2>About CubeWorks</h2>
    <p>
    CubeWorks was founded in 2013 to make next-generation millimeter-scale
    computing available today. The company's origins come from the Michigan
    Micro Mote (M3) intiative, a project from the University of Michigan
    seeking to push the frontiers of computing.
    </p>
  </div>

  {% macro person(name, img=None, title=None, email=None) -%}
    <div class="col-lg-6">
      <div class="row top-buffer">
        <div class="col-lg-4 col-sm-6">
          {% if img %}
          <img class="img-circle" src="/static/img/{{ img }}" width="140px" />
          {% else %}
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140px" />
          {% endif %}
        </div>
        <div class="col-lg-8 col-sm-6">
          <h2>{{ name }}</h2>
          {% if title %}<h3>{{ title }}</h3>{% endif %}
          {% if email %}<a href="mailto:{{ email }}">{{ email }}</a>{% endif %}
        </div>
      </div>
    </div>
  {%- endmacro %}


  <div class="row">
    {{ person('ZhiYoong Foo', 'zhiyoong-square.png', 'Chief Executive Officer', 'zhiyoong@cubeworks.us') }}
    {{ person('Gyouho Kim', 'gyouho-square.jpg', 'Chief Technical Officer', 'gyouho@cubeworks.us') }}
  </div>
  <div class="row top-buffer">
    {{ person('Yejoong Kim', None, 'Chief Research Officer', 'yejoong@cubeworks.us') }}
    {{ person('Pat Pannuto', 'pannuto-square.jpg', 'Principal Systems Architect', 'pat@cubeworks.us') }}
  </div>
  <hr />
  <h2>Co-Founders</h2>
  <div class="row">
    {{ person('David Blaauw', 'blaauw-square.jpg') }}
    {{ person('Prabal Dutta', 'prabal-square.jpg') }}
  </div>
  <div class="row">
    {{ person('Yoonmyung Lee') }}
    {{ person('Dennis Sylvester', 'dennis-square.jpg') }}
  </div>
  <div class="row">
    {{ person('David Wentzloff', 'wentzloff-square.jpg') }}
  </div>
</div>

{% endblock %}

